footer{
    padding: 90px 0 75px;
    background-color: $main-color;
    color: $sec-color;
    h4{
        font-size: 16px;
        margin-bottom: 35px;
        @media screen and (max-width: $medium-screen) {
            margin-bottom: 28px;
        }
        @media screen and (max-width: $small-screen) {
            margin-bottom: 10px;
            border: 1px solid #b3d7ff6b;
            width: max-content;
            margin: 0 auto 20px;
            font-size: 20px;
        }

    }
    .info-list{
        li{
            margin-bottom: 20px;
            a{
                color: $sec-color;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
    .media-list{
        margin-bottom: 35px;
         li{
             display: inline-block;
            margin-right: 50px;
            margin-bottom: 0;
            @media screen and (max-width: $large-screen) {
                margin-right: 30px;
            }
            @media screen and (max-width: $medium-screen) {
                margin-right: 20px;
            }
        }
    }
    input{
        background-color: #1a275d !important;
        background: url("../images/input-arrow.png") 90% 50% no-repeat;
        &:focus{
            box-shadow: none !important;
        }
    }
    p{
        font-size: 14px;
        font-family: "regular";
    }
}