header {
  position: absolute;
  z-index: 10;
  width: 100%;
  .navbar-brand {
    img {
      @media screen and (max-width: $small-screen) {
        max-width: 200px;
      }
      @media screen and (max-width: $x-small-screen) {
        max-width: 160px;
      }
    }
  }
  .navbar {
    padding: 35px 0 0 0;
  }
  .nav-item {
    margin-left: 40px;
  }
  .nav-link {
    padding: 10px;
    color: $sec-color !important;
    font-size: 14px;
  }
  .navbar-toggler {
    box-shadow: none;
    border: 0;
    > div {
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
      transition: all 0.3s ease-in-out;
    }
    &:not(.collapsed) {
      .bar1 {
        transform: rotate(-45deg) translate(-7px, 6px);
        -moz-transform: rotate(-45deg) translate(-7px, 6px);
        -webkit-transform: rotate(-45deg) translate(-7px, 6px);
        // background-color: $main-color;
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
        -moz-transform: rotate(45deg) translate(-5px, -5px);
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        // background-color: $main-color;
      }
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .blue-nav {
    @media screen and (min-width: $medium-screen) {
      .nav-link {
        color: $main-color !important;
      }
    }
    .collapsed > div {
      @media screen and (min-width: $small-screen) {
        background-color: $main-color;
      }
    }
  }
}
@media screen and (max-width: $medium-screen) {
  .navbar-nav {
    padding-top: 20px;
  }
  .nav-item {
    margin: 0px 0 4px 0 !important;
    padding: 3px 0 3px 0;
  }
  .nav-link {
    font-size: 20px !important;
  }
}
.med-overflow {
  height: 100%;
  background-color: $main-color;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.overflow-y {
  overflow-y: hidden;
}
