.first-slider {
  margin-top: 50px;
  overflow-x: hidden;
  position: relative;
  @media screen and (max-width: $large-screen) {
    margin-bottom: 50px;
  }
  // .owl-item{
  //     transform: scale(0.85);
  // }
  //  .active{
  //     transform: scale(1);
  //     margin-right: 0;
  // }
  .item {
    transform: translate(160px, 0px);
    height: 720px;
    @media screen and (max-width: $large-screen) {
      transform: translate(0px, 0px);
      height: 500px;
    }
    .img-container {
      top: 0;
      left: 0;
      width: 100%;
      height: 65%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .details {
      padding: 0 10%;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      @media screen and (max-width: $large-screen) {
        height: 60%;
      }
      .more-details {
        height: 100%;
        background-color: $main-color;
        @media screen and (max-width: $small-screen) {
          background-color: #1c296abd;
        }
        p {
          font-family: "regular";
          margin-bottom: 30px;
        }
        a {
          @extend %sec-button-style;
        }
        h2 {
          font-size: 60px;
          @media screen and (max-width: $small-screen) {
            font-size: 40px;
          }
        }
      }
    }
    .number {
      font-size: 48px;
      bottom: 16%;
      color: #1c296a;
      left: -83px;
      @media screen and (max-width: $large-screen) {
        display: none;
      }
    }
  }
  .owl-stage {
    padding: 0px !important;
  }
  .owl-nav {
    @media screen and (min-width: $large-screen) {
      position: absolute;
      bottom: 18%;
      left: 10%;
    }
    button {
      color: transparent !important;
      width: 50px !important;
      @media screen and (min-width: $large-screen) {
        width: 60px !important;
      }
      &:focus {
        outline: none;
      }
      &:first-of-type {
        background: url("../images/home/prev.png") center no-repeat !important;
        background-size: cover;
      }
      &:last-of-type {
        background: url("../images/home/next.png") center no-repeat !important;
        background-size: cover;
      }
    }
  }
}

.sec-slider,
.third-slider {
  position: relative;
  .item {
    margin: 0 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .owl-nav {
    button {
      position: absolute;
      top: calc(50% - 45px);
      color: transparent !important;
      width: 90px !important;
      height: 90px !important;
      @media screen and (max-width: $medium-screen) {
        width: 60px !important;
        height: 60px !important;
      }
      @media screen and (max-width: $small-screen) {
        width: 45px !important;
        height: 45px !important;
      }
      &:focus {
        outline: none;
      }
      &:first-of-type {
        transform: rotate(180deg);
        background: url("../images/home/rt-arrow.png") center no-repeat !important;
        left: 10%;
        background-size: cover;
      }
      &:last-of-type {
        background: url("../images/home/rt-arrow.png") center no-repeat !important;
        right: 10%;
        background-size: cover;
      }
    }
    .disabled {
      opacity: 0 !important;
    }
  }
}
