//var screen
$x-small-screen: 480px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
//var color
$main-color:#1c296a;
$sec-color: #fff;
//fonts
@font-face {
    font-family: "bold";
    src: url("../fonts/bold.ttf");
}
@font-face {
    font-family: "regular";
    src: url("../fonts/regular.ttf");
}
@font-face {
    font-family: "light";
    src: url("../fonts/light.otf");
}