<template>
  <div class>
    <div class="large-style">
      <div class="unit-types-slider pt-0">
        <carousel
          class="third-slider"
          :autoplay="true"
          :nav="true"
          :dots="false"
          :responsive="{0:{items:1.2,nav:false},767:{items:2.5,nav:true}}"
        >
          <div v-for="(dev,i) in development.unit_types" :key="i" class="item position-relative">
            <img :src="dev.image" alt />
            <p class="position-absolute slide-caption w-100">{{dev.title}}</p>
            <section class="content w-100 h-100">
              <div class="content-wrap">
                <a
                  v-if="development.id != 5 && development.id != 12"
                  @click.prevent="Slideractive = !Slideractive"
                  class="d-block mb-3 button-style mx-auto ml-md-auto mr-md-0"
                  href
                >
                  BROCHURES
                  <i class="fas fa-download pl-3"></i>
                </a>
                <a
                  :href="development.link"
                  class="d-block mt-3 button-style mx-auto ml-md-auto mr-md-0"
                >
                  PROJECT INQUIRY
                  <i class="far fa-envelope pl-3"></i>
                </a>
              </div>
            </section>
          </div>
        </carousel>
        <brouchures :development="development" :Slideractive="Slideractive" />
      </div>
    </div>
    <div class="small-style small-slider-content">
      <div class="container small-color">
        <h2 class="mb-4">UNIT TYPES</h2>
        <div class="unit-types-slider pt-0">
          <carousel
            :autoplay="true"
            :nav="true"
            :dots="false"
            :responsive="{0:{items:1,nav:false},767:{items:2.5,nav:true,center: true}}"
            class="third-slider"
          >
            <div v-for="(dev,i) in development.unit_types" :key="i" class="item position-relative">
              <img class="w-100" :src="dev.image" alt />
              <p class="position-absolute slide-caption w-100">{{dev.title}}</p>
              <section class="content w-100 h-100">
                <div class="content-wrap">
                  <a
                    v-if="development.id != 5 && development.id != 12"
                    @click.prevent="Slideractive = !Slideractive"
                    class="d-block mb-3 small-button-style pt-0 mx-auto ml-md-auto mr-md-0"
                    href
                  >
                    BROCHURES
                    <i class="fas fa-download pl-3"></i>
                  </a>
                  <a
                    :href="development.link"
                    class="d-block mt-3 small-button-style pt-0 mx-auto ml-md-auto mr-md-0"
                  >
                    PROJECT INQUIRY
                    <i class="far fa-envelope pl-3"></i>
                  </a>
                </div>
              </section>
            </div>
          </carousel>
          <brouchures :development="development" :Slideractive="Slideractive" />
        </div>
        <p class="pr-5">{{ development.unit_types_content }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from "vue-owl-carousel";
import brouchures from "@/views/development/partials/brouchuresSlider.vue";
export default {
  data() {
    return {
      Slideractive: false,
      apartment: true,
      villa: true,
      chalets: true,
      general: true
    };
  },

  props: ["development"],
  components: {
    brouchures,
    carousel
  }
};
</script>

<style>
.slide-caption {
  color: #fff;
  bottom: 0;
  padding: 5% 10%;
  margin: 0;
  background-image: linear-gradient(transparent, #00000061);
  font-size: 25px !important;
  transition: 0.5s;
}

.item:hover .slide-caption {
  opacity: 0;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d2b6852;
  opacity: 0;
  transition: 0.5s;
}
.item:hover .content {
  opacity: 1;
}
.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-wrap a {
  border: 1px solid transparent;

  transition: 0.5s;
}
.content-wrap a:hover {
  border: 1px solid #9ea5c5;
  color: #fff;
}
</style>