
<input type="url" id="media-url" name="{name}" value="{value}" class="form-control" />
<br/>
<div id="show-media" class="col-md-6"></div>

<script>
    $(window).load(function() {
        $('#media-url').trigger('change');
    });
    
    $(document).ready(function (){
        
    $('#media-url').change(function(){
        var url=$(this).val();
        if(url===''){
            return false;
        }
        if(url.search('youtube')>0){            
            
            var id=getYoutubeIdFromLink(url);
            if(id !=='error'){
                var embed=getYoutubeEmbedCode(id,600,250);
                $('#show-media').html(embed);
            }else{
                $('#show-media').html("<span style='color:red'>error while showing media</span>");
            }
        }else if(url.search('soundcloud')>0){
            var embedcode=getCoundcloudCode(url , function(response){
                console.log(response);
                $('#show-media').html(response);
                $(window).resize();
            });
        }else{
            $('#show-media').html("<span style='color:red'>error while showing media</span>");
        }
        $(window).resize();
    });
    });
    
</script>
