<button class="btn btn-xs btn-outline btn-info btn_row_id" id="restore{row_id}" row_id="{row_id}" {attribute}> <i class="fa fa-repeat"></i> Restore</button>
<button class="btn btn-xs btn-outline btn-danger btn_row_id" id="delete_forever{row_id}" row_id="{row_id}" {attribute}> <i class="fa fa-trash"></i> Delete forever</button>
<button class="btn btn-xs btn-outline btn-danger btn_row_id hide" id="delete{row_id}" row_id="{row_id}" {attribute}> <i class="fa fa-trash"></i> Delete</button>

<script type="text/javascript">
    $('#restore{row_id}').click(function (t) {
        var me = $(this);

        t.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Restore",
            type: "warning",
            html: true,
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Restore it!",
            closeOnConfirm: false
        }, function () {

            var row_id = me.attr('row_id');
            var uri = "{url_restore}/" + row_id;
            $.ajax({
                method: "GET",
                url: uri,
                success: function (response) {
                    response = jQuery.parseJSON(response);
                    if (response.status === 'ok') {
                        $('#restore{row_id}').remove();
                        $('#delete_forever{row_id}').remove();
                        $('#delete{row_id}').removeClass('hide');
                        swal('Restore!', response.message, 'success');
                    } else {
                        swal('Can not be Restore!', response.message, 'warning');
                    }
                }

            });
        });
    });

    $('#delete_forever{row_id}').click(function (t) {
        var me = $(this);

        t.preventDefault();
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!<br> Delete forever",
            type: "warning",
            html: true,
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {

            var row_id = me.attr('row_id');
            var uri = "{url_delete_forever}/" + row_id;
            $.ajax({
                method: "GET",
                url: uri,
                success: function (response) {
                    response = jQuery.parseJSON(response);
                    if (response.status === 'ok') {
                        me.closest('tr').remove();
                        swal('Deleted!', response.message, 'success');
                    } else {
                        swal('Can not be Deleted!', response.message, 'warning');
                    }
                }

            });
        });
    });
    
    $('#delete{row_id}').click(function (t) {
    var me = $(this);

    t.preventDefault();
    swal({
      title: "Are you sure?",
      text: "You will not be able to recover this data!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false
    }, function () {

      var row_id = me.attr('row_id');
      var uri = "{url}/" + row_id;
      $.ajax({
        method: "GET",
        url: uri,
        success: function (response) {
          response = jQuery.parseJSON(response);
          if (response.status === 'ok') {
            me.closest('tr').remove();
//            $('#restore{row_id}').removeClass('hide');
//            $('#delete_forever{row_id}').removeClass('hide');
//            $('#delete{row_id}').addClass('hide');
            swal('Deleted!', response.message, 'success');
          } else {
            swal('Can not be Deleted!', response.message, 'warning');
          }
        }

      });
    });
  });
</script>