<link href="./assets/backend/ui/css/plugins/dropzone/basic.css" rel="stylesheet">
<link href="./assets/backend/ui/css/plugins/dropzone/dropzone.css" rel="stylesheet">

<form id="my-awesome-dropzone" class="dropzone" action="#" enctype="multipart/form-data">
  <div class="dropzone-previews"></div>
  <!--<button type="submit" class="btn btn-primary pull-right">Upload</button>-->
</form>

<!-- DROPZONE -->
<script src="./assets/backend/ui/js/plugins/dropzone/dropzone.js"></script>

<script>
  $(document).ready(function () {
    var urlUpload = "{urlUpload}";
    var result = jQuery.parseJSON('{result}');
    var urlDelete = "{urlDelete}";
    
    Dropzone.options.myAwesomeDropzone = {
      autoProcessQueue: true,
      uploadMultiple: true,
      parallelUploads: 100,
      maxFiles: 100,
      url: urlUpload,
      method: "post",
      addRemoveLinks: true,
      // Dropzone settings
      init: function () {
        var myDropzone = this;
        
        this.on("removedfile", function (file) {
          $.ajax({
            method: "GET",
            url: urlDelete + '/' + file.id,
            success: function () {
            }
          });
        });
        
        //Add Files
//        $.each(result, function(i) {
//          var mockFile = {name: result[i].image, size: result[i].size, id: result[i].id};
//          myDropzone.options.addedfile.call(myDropzone, mockFile);
//          myDropzone.options.thumbnail.call(myDropzone, mockFile, "{savePath}" + result[i].image);
//        });
        
//        this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
//          e.preventDefault();
//          e.stopPropagation();
//          myDropzone.processQueue();
//        });

        this.on("sendingmultiple", function () {

        });
        this.on("successmultiple", function (files, response) {
          response = jQuery.parseJSON(response);
          $.each(files, function(i) {
            files[i].id = response[i];
          });
        });
        this.on("errormultiple", function (files, response) {

        });
      }
    };


  });
</script>