@font-face {
  font-family: "bold";
  src: url("../fonts/bold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/regular.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/light.otf");
}
/* line 2, ../sass/misritalia.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bold";
  color: #fff;
}
/* line 8, ../sass/misritalia.scss */
body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  /* line 15, ../sass/misritalia.scss */
  .container {
    max-width: 1200px !important;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 15, ../sass/misritalia.scss */
  .container {
    max-width: 90% !important;
    width: 100%;
    height: 100%;
  }
}

/* line 27, ../sass/misritalia.scss */
.g-padding {
  padding: 100px 0;
}
@media screen and (max-width: 992px) {
  /* line 27, ../sass/misritalia.scss */
  .g-padding {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 27, ../sass/misritalia.scss */
  .g-padding {
    padding: 40px 0;
  }
}

/* line 36, ../sass/misritalia.scss */
.h1 {
  color: #1c296a;
  font-size: 100px;
  font-family: "bold";
}
@media screen and (max-width: 1200px) {
  /* line 36, ../sass/misritalia.scss */
  .h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 992px) {
  /* line 36, ../sass/misritalia.scss */
  .h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/misritalia.scss */
  .h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  /* line 36, ../sass/misritalia.scss */
  .h1 {
    font-size: 40px;
  }
}

/* line 1, ../sass/partial/_header.scss */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 6, ../sass/partial/_header.scss */
  header .navbar-brand img {
    max-width: 200px;
  }
}
@media screen and (max-width: 480px) {
  /* line 6, ../sass/partial/_header.scss */
  header .navbar-brand img {
    max-width: 160px;
  }
}
/* line 15, ../sass/partial/_header.scss */
header .navbar {
  padding: 35px 0 0 0;
}
/* line 18, ../sass/partial/_header.scss */
header .nav-item {
  margin-left: 40px;
}
/* line 21, ../sass/partial/_header.scss */
header .nav-link {
  padding: 10px;
  color: #fff !important;
  font-size: 14px;
}
/* line 26, ../sass/partial/_header.scss */
header .navbar-toggler {
  box-shadow: none;
  border: 0;
}
/* line 29, ../sass/partial/_header.scss */
header .navbar-toggler > div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: all 0.4s ease-in-out;
}
/* line 36, ../sass/partial/_header.scss */
header .navbar-toggler .bar2 {
  transition: all 0.6s ease-in-out;
}
/* line 40, ../sass/partial/_header.scss */
header .navbar-toggler:not(.collapsed) .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
  -moz-transform: rotate(-45deg) translate(-7px, 6px);
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
}
/* line 46, ../sass/partial/_header.scss */
header .navbar-toggler:not(.collapsed) .bar2 {
  width: 0;
  background-color: red;
}
/* line 50, ../sass/partial/_header.scss */
header .navbar-toggler:not(.collapsed) .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
  -moz-transform: rotate(45deg) translate(-5px, -5px);
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
}
/* line 57, ../sass/partial/_header.scss */
header .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
@media screen and (min-width: 992px) {
  /* line 64, ../sass/partial/_header.scss */
  header .blueNav .nav-link {
    color: #1c296a !important;
  }
}
@media screen and (min-width: 768px) {
  /* line 68, ../sass/partial/_header.scss */
  header .blueNav .collapsed > div {
    background-color: #1c296a;
  }
}

@media screen and (max-width: 992px) {
  /* line 76, ../sass/partial/_header.scss */
  .navbar-nav {
    padding-top: 20px;
  }

  /* line 79, ../sass/partial/_header.scss */
  .nav-item {
    margin: 0px 0 4px 0 !important;
    padding: 3px 0 3px 0;
  }

  /* line 83, ../sass/partial/_header.scss */
  .nav-link {
    font-size: 20px !important;
  }
}
/* line 87, ../sass/partial/_header.scss */
.med-overflow {
  height: 100%;
  background-color: #1c296a;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

/* line 98, ../sass/partial/_header.scss */
.overflow-y {
  overflow-y: hidden;
}

/* line 1, ../sass/partial/_footer.scss */
footer {
  padding: 90px 0 75px;
  background-color: #1c296a;
  color: #fff;
}
/* line 5, ../sass/partial/_footer.scss */
footer h4 {
  font-size: 16px;
  margin-bottom: 35px;
}
@media screen and (max-width: 992px) {
  /* line 5, ../sass/partial/_footer.scss */
  footer h4 {
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 768px) {
  /* line 5, ../sass/partial/_footer.scss */
  footer h4 {
    margin-bottom: 10px;
    border: 1px solid #b3d7ff6b;
    width: max-content;
    margin: 0 auto 20px;
    font-size: 20px;
  }
}
/* line 20, ../sass/partial/_footer.scss */
footer .info-list li {
  margin-bottom: 20px;
}
/* line 22, ../sass/partial/_footer.scss */
footer .info-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* line 29, ../sass/partial/_footer.scss */
footer .media-list {
  margin-bottom: 40px;
}
/* line 31, ../sass/partial/_footer.scss */
footer .media-list li {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  /* line 31, ../sass/partial/_footer.scss */
  footer .media-list li {
    margin-right: 30px;
  }
}
@media screen and (max-width: 992px) {
  /* line 31, ../sass/partial/_footer.scss */
  footer .media-list li {
    margin-right: 20px;
  }
}
/* line 43, ../sass/partial/_footer.scss */
footer input {
  outline: 1px solid white !important;
  background-color: #1a275d !important;
  background: url("../images/input-arrow.png") 90% 50% no-repeat;
}
/* line 47, ../sass/partial/_footer.scss */
footer input:focus {
  box-shadow: none !important;
}
/* line 51, ../sass/partial/_footer.scss */
footer ::placeholder {
  font-family: "regular";
  font-size: 16px;
  color: #fff !important;
}
/* line 56, ../sass/partial/_footer.scss */
footer p {
  font-size: 14px;
  font-family: "regular";
}

/* line 59, ../sass/misritalia.scss */
.home .intro {
  background: url("../images/home/intro.jpg") center top no-repeat;
  background-size: cover;
}
/* line 64, ../sass/misritalia.scss */
.home .home-body {
  background: url("../images/home/home-body-bg.jpg") 100% 0% no-repeat;
  background-size: cover;
}
/* line 1, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider {
  margin-top: 50px;
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 1200px) {
  /* line 1, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider {
    margin-bottom: 50px;
  }
}
/* line 15, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item {
  transform: translate(160px, 0px);
  height: 720px;
}
@media screen and (max-width: 1200px) {
  /* line 15, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .item {
    transform: translate(0px, 0px);
    height: 500px;
  }
}
/* line 22, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .img-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
}
/* line 27, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .img-container img {
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .details {
  padding: 0 10%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
@media screen and (max-width: 1200px) {
  /* line 32, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .item .details {
    height: 60%;
  }
}
/* line 41, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .details .more-details {
  height: 100%;
  background-color: #1c296a;
}
@media screen and (max-width: 768px) {
  /* line 41, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .item .details .more-details {
    background-color: #1c296abd;
  }
}
/* line 47, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .details .more-details p {
  font-family: "regular";
  margin-bottom: 30px;
}
/* line 54, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .details .more-details h2 {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .item .details .more-details h2 {
    font-size: 40px;
  }
}
/* line 62, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .item .number {
  font-size: 48px;
  bottom: 16%;
  color: #1c296a;
  left: -83px;
}
@media screen and (max-width: 1200px) {
  /* line 62, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .item .number {
    display: none;
  }
}
/* line 72, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .owl-stage {
  padding: 0px !important;
}
@media screen and (min-width: 1200px) {
  /* line 75, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .owl-nav {
    position: absolute;
    bottom: 18%;
    left: 10%;
    text-align: center !important;
    margin-top: 10px !important;
  }
}
/* line 83, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .owl-nav button {
  color: transparent !important;
  width: 50px !important;
}
@media screen and (min-width: 1200px) {
  /* line 83, ../sass/partial/_slider-style.scss */
  .home .develope-slide .first-slider .owl-nav button {
    width: 60px !important;
  }
}
/* line 89, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .owl-nav button:focus {
  outline: none;
}
/* line 92, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .owl-nav button:first-of-type {
  background: url("../images/home/prev.png") center no-repeat !important;
  background-size: cover;
}
/* line 96, ../sass/partial/_slider-style.scss */
.home .develope-slide .first-slider .owl-nav button:last-of-type {
  background: url("../images/home/next.png") center no-repeat !important;
  background-size: cover;
}
/* line 104, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider,
.home .develope-slide .third-slider {
  position: relative;
}
/* line 107, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .item,
.home .develope-slide .third-slider .item {
  margin: 0 20px;
}
/* line 109, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .item img,
.home .develope-slide .third-slider .item img {
  width: 100%;
  height: 100%;
}
/* line 115, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .owl-nav button,
.home .develope-slide .third-slider .owl-nav button {
  position: absolute;
  top: calc(50% - 45px);
  color: transparent !important;
  width: 90px !important;
  height: 90px !important;
}
@media screen and (max-width: 992px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .home .develope-slide .sec-slider .owl-nav button,
  .home .develope-slide .third-slider .owl-nav button {
    width: 60px !important;
    height: 60px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .home .develope-slide .sec-slider .owl-nav button,
  .home .develope-slide .third-slider .owl-nav button {
    width: 45px !important;
    height: 45px !important;
  }
}
/* line 129, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .owl-nav button:focus,
.home .develope-slide .third-slider .owl-nav button:focus {
  outline: none;
}
/* line 132, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .owl-nav button:first-of-type,
.home .develope-slide .third-slider .owl-nav button:first-of-type {
  transform: rotate(180deg);
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  left: 10%;
  background-size: cover;
}
/* line 138, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .owl-nav button:last-of-type,
.home .develope-slide .third-slider .owl-nav button:last-of-type {
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  right: 10%;
  background-size: cover;
}
/* line 144, ../sass/partial/_slider-style.scss */
.home .develope-slide .sec-slider .owl-nav .disabled,
.home .develope-slide .third-slider .owl-nav .disabled {
  opacity: 0 !important;
}
/* line 71, ../sass/misritalia.scss */
.home .enriching {
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  /* line 71, ../sass/misritalia.scss */
  .home .enriching {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 71, ../sass/misritalia.scss */
  .home .enriching {
    margin-bottom: 40px;
  }
}
/* line 79, ../sass/misritalia.scss */
.home .enriching .enriching-img {
  height: 630px;
}
/* line 81, ../sass/misritalia.scss */
.home .enriching .enriching-img img {
  width: 100%;
  height: 100%;
}
/* line 86, ../sass/misritalia.scss */
.home .enriching .enriching-title {
  color: #1c296a;
  padding: 100px 120px 60px 100px;
}
@media screen and (max-width: 1200px) {
  /* line 86, ../sass/misritalia.scss */
  .home .enriching .enriching-title {
    padding: 60px;
  }
}
/* line 92, ../sass/misritalia.scss */
.home .enriching .enriching-title h2 {
  font-size: 60px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 92, ../sass/misritalia.scss */
  .home .enriching .enriching-title h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
/* line 100, ../sass/misritalia.scss */
.home .enriching .enriching-title p {
  margin-bottom: 55px;
  font-family: "regular";
}
/* line 109, ../sass/misritalia.scss */
.home .social {
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  /* line 109, ../sass/misritalia.scss */
  .home .social {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 109, ../sass/misritalia.scss */
  .home .social {
    margin-bottom: 40px;
  }
}
/* line 117, ../sass/misritalia.scss */
.home .social h2 {
  font-size: 60px;
  margin-bottom: 70px;
  color: #1c296a;
}
@media screen and (max-width: 768px) {
  /* line 117, ../sass/misritalia.scss */
  .home .social h2 {
    font-size: 40px;
    margin-bottom: 35px;
  }
}
/* line 1, ../sass/partial/_slider-style.scss */
.home .social .first-slider {
  margin-top: 50px;
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 1200px) {
  /* line 1, ../sass/partial/_slider-style.scss */
  .home .social .first-slider {
    margin-bottom: 50px;
  }
}
/* line 15, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item {
  transform: translate(160px, 0px);
  height: 720px;
}
@media screen and (max-width: 1200px) {
  /* line 15, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .item {
    transform: translate(0px, 0px);
    height: 500px;
  }
}
/* line 22, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .img-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
}
/* line 27, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .img-container img {
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .details {
  padding: 0 10%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
@media screen and (max-width: 1200px) {
  /* line 32, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .item .details {
    height: 60%;
  }
}
/* line 41, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .details .more-details {
  height: 100%;
  background-color: #1c296a;
}
@media screen and (max-width: 768px) {
  /* line 41, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .item .details .more-details {
    background-color: #1c296abd;
  }
}
/* line 47, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .details .more-details p {
  font-family: "regular";
  margin-bottom: 30px;
}
/* line 54, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .details .more-details h2 {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .item .details .more-details h2 {
    font-size: 40px;
  }
}
/* line 62, ../sass/partial/_slider-style.scss */
.home .social .first-slider .item .number {
  font-size: 48px;
  bottom: 16%;
  color: #1c296a;
  left: -83px;
}
@media screen and (max-width: 1200px) {
  /* line 62, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .item .number {
    display: none;
  }
}
/* line 72, ../sass/partial/_slider-style.scss */
.home .social .first-slider .owl-stage {
  padding: 0px !important;
}
@media screen and (min-width: 1200px) {
  /* line 75, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .owl-nav {
    position: absolute;
    bottom: 18%;
    left: 10%;
    text-align: center !important;
    margin-top: 10px !important;
  }
}
/* line 83, ../sass/partial/_slider-style.scss */
.home .social .first-slider .owl-nav button {
  color: transparent !important;
  width: 50px !important;
}
@media screen and (min-width: 1200px) {
  /* line 83, ../sass/partial/_slider-style.scss */
  .home .social .first-slider .owl-nav button {
    width: 60px !important;
  }
}
/* line 89, ../sass/partial/_slider-style.scss */
.home .social .first-slider .owl-nav button:focus {
  outline: none;
}
/* line 92, ../sass/partial/_slider-style.scss */
.home .social .first-slider .owl-nav button:first-of-type {
  background: url("../images/home/prev.png") center no-repeat !important;
  background-size: cover;
}
/* line 96, ../sass/partial/_slider-style.scss */
.home .social .first-slider .owl-nav button:last-of-type {
  background: url("../images/home/next.png") center no-repeat !important;
  background-size: cover;
}
/* line 104, ../sass/partial/_slider-style.scss */
.home .social .sec-slider,
.home .social .third-slider {
  position: relative;
}
/* line 107, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .item,
.home .social .third-slider .item {
  margin: 0 20px;
}
/* line 109, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .item img,
.home .social .third-slider .item img {
  width: 100%;
  height: 100%;
}
/* line 115, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .owl-nav button,
.home .social .third-slider .owl-nav button {
  position: absolute;
  top: calc(50% - 45px);
  color: transparent !important;
  width: 90px !important;
  height: 90px !important;
}
@media screen and (max-width: 992px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .home .social .sec-slider .owl-nav button,
  .home .social .third-slider .owl-nav button {
    width: 60px !important;
    height: 60px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .home .social .sec-slider .owl-nav button,
  .home .social .third-slider .owl-nav button {
    width: 45px !important;
    height: 45px !important;
  }
}
/* line 129, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .owl-nav button:focus,
.home .social .third-slider .owl-nav button:focus {
  outline: none;
}
/* line 132, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .owl-nav button:first-of-type,
.home .social .third-slider .owl-nav button:first-of-type {
  transform: rotate(180deg);
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  left: 10%;
  background-size: cover;
}
/* line 138, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .owl-nav button:last-of-type,
.home .social .third-slider .owl-nav button:last-of-type {
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  right: 10%;
  background-size: cover;
}
/* line 144, ../sass/partial/_slider-style.scss */
.home .social .sec-slider .owl-nav .disabled,
.home .social .third-slider .owl-nav .disabled {
  opacity: 0 !important;
}
/* line 128, ../sass/misritalia.scss */
.home .get-in-touch {
  height: 569px;
  background: url("../images/home/get-in-touch.jpg") 0% 0% no-repeat;
  background-size: 82%;
}
@media screen and (max-width: 1200px) {
  /* line 128, ../sass/misritalia.scss */
  .home .get-in-touch {
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, ../sass/misritalia.scss */
  .home .get-in-touch {
    height: 450px;
  }
}
/* line 138, ../sass/misritalia.scss */
.home .get-in-touch .touch {
  background-color: #f1f1f1;
  height: 575px;
  width: 350px;
  padding: 0px 50px;
  flex-direction: column;
  color: #1c296a;
  transform: translate(-175px, 50px);
}
@media screen and (max-width: 1200px) {
  /* line 138, ../sass/misritalia.scss */
  .home .get-in-touch .touch {
    transform: translate(-250px, 50px);
    background-color: #f1f1f1a1;
  }
}
@media screen and (max-width: 992px) {
  /* line 138, ../sass/misritalia.scss */
  .home .get-in-touch .touch {
    transform: translate(-150px, 50px);
  }
}
@media screen and (max-width: 768px) {
  /* line 138, ../sass/misritalia.scss */
  .home .get-in-touch .touch {
    transform: translate(0px, 0px);
    width: auto;
    text-align: center;
    height: 450px;
  }
}
/* line 159, ../sass/misritalia.scss */
.home .get-in-touch .touch h2 {
  font-size: 60px;
  white-space: nowrap;
  margin-bottom: 35px;
}
@media screen and (max-width: 1200px) {
  /* line 159, ../sass/misritalia.scss */
  .home .get-in-touch .touch h2 {
    font-size: 50px;
    white-space: normal;
  }
}
/* line 168, ../sass/misritalia.scss */
.home .get-in-touch .touch p {
  margin-bottom: 30px;
  font-family: "regular";
  transition: 0.6s;
}
/* line 178, ../sass/misritalia.scss */
.home .g-padding {
  padding-bottom: 0 !important;
}

/* line 186, ../sass/misritalia.scss */
.developments .intro {
  background: url("../images/developments/intro.jpg") center top no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
@media screen and (max-width: 1200px) {
  /* line 186, ../sass/misritalia.scss */
  .developments .intro {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  /* line 186, ../sass/misritalia.scss */
  .developments .intro {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 186, ../sass/misritalia.scss */
  .developments .intro {
    padding-bottom: 40px;
  }
}
/* line 200, ../sass/misritalia.scss */
.developments .intro .mastering {
  display: none;
}
/* line 204, ../sass/misritalia.scss */
.developments .developments-body {
  background: url("../images/developments/developments-bg.jpg") 100% 0%
    no-repeat;
  background-size: cover;
}
/* line 210, ../sass/misritalia.scss */
.developments .developments-body .projects .row:nth-child(even) {
  direction: rtl;
}
@media screen and (min-width: 768px) {
  /* line 213, ../sass/misritalia.scss */
  .developments .developments-body .projects .row:nth-child(even) .col-md-4 {
    padding-right: 0 !important;
    padding-left: 30px !important;
  }
  /* line 217, ../sass/misritalia.scss */
  .developments .developments-body .projects .row:nth-child(even) .col-md-8 {
    padding-left: 0 !important;
    padding-right: 30px !important;
  }
}
@media screen and (min-width: 768px) {
  /* line 224, ../sass/misritalia.scss */
  .developments .developments-body .projects .row .col-md-4 {
    padding-left: 0 !important;
    padding-right: 30px !important;
  }
  /* line 228, ../sass/misritalia.scss */
  .developments .developments-body .projects .row .col-md-8 {
    padding-right: 0 !important;
    padding-left: 30px !important;
  }
}
/* line 234, ../sass/misritalia.scss */
.developments .developments-body .projects .project {
  margin-bottom: 100px;
  text-decoration: none;
}
/* line 237, ../sass/misritalia.scss */
.developments .developments-body .projects .project:nth-of-type(2) {
  padding: 0 10%;
}
@media screen and (max-width: 992px) {
  /* line 237, ../sass/misritalia.scss */
  .developments .developments-body .projects .project:nth-of-type(2) {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  /* line 234, ../sass/misritalia.scss */
  .developments .developments-body .projects .project {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 992px) {
  /* line 234, ../sass/misritalia.scss */
  .developments .developments-body .projects .project {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 234, ../sass/misritalia.scss */
  .developments .developments-body .projects .project {
    margin-bottom: 50px;
  }
}
/* line 252, ../sass/misritalia.scss */
.developments .developments-body .projects .project img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 256, ../sass/misritalia.scss */
.developments .developments-body .projects .project h3 {
  color: #1c296a;
  font-size: 40px;
  font-family: "bold";
}
@media screen and (min-width: 768px) {
  /* line 256, ../sass/misritalia.scss */
  .developments .developments-body .projects .project h3 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 256, ../sass/misritalia.scss */
  .developments .developments-body .projects .project h3 {
    font-size: 30px;
  }
}

/* line 275, ../sass/misritalia.scss */
.project-details .intro {
  background: url("../images/developments/intro.jpg") center top no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
@media screen and (max-width: 992px) {
  /* line 275, ../sass/misritalia.scss */
  .project-details .intro {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 275, ../sass/misritalia.scss */
  .project-details .intro {
    padding-bottom: 40px;
  }
}
/* line 286, ../sass/misritalia.scss */
.project-details .intro .mastering {
  background-color: transparent !important;
}
/* line 289, ../sass/misritalia.scss */
.project-details .intro .mastering p:after {
  display: none;
}
/* line 293, ../sass/misritalia.scss */
.project-details .intro .mastering a {
  width: 200px !important;
}
/* line 296, ../sass/misritalia.scss */
.project-details .intro .mastering a i {
  font-size: 17px !important;
}
/* line 302, ../sass/misritalia.scss */
.project-details .overview {
  background: url("../images/project-details/overview-bg.jpg") 100% 0% no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: #1c296a;
}
@media screen and (max-width: 1200px) {
  /* line 302, ../sass/misritalia.scss */
  .project-details .overview {
    padding: 80px 0;
  }
  /* line 310, ../sass/misritalia.scss */
  .project-details .overview h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 992px) {
  /* line 302, ../sass/misritalia.scss */
  .project-details .overview {
    padding: 60px 0;
  }
  /* line 316, ../sass/misritalia.scss */
  .project-details .overview h2 {
    margin-bottom: 40px;
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* line 302, ../sass/misritalia.scss */
  .project-details .overview {
    padding: 40px 0;
  }
  /* line 323, ../sass/misritalia.scss */
  .project-details .overview h2 {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 328, ../sass/misritalia.scss */
  .project-details .overview .overview-caption {
    padding-right: 10%;
  }
}
/* line 333, ../sass/misritalia.scss */
.project-details .overview h2 {
  font-size: 80px;
  margin-bottom: 65px;
}
@media screen and (max-width: 480px) {
  /* line 333, ../sass/misritalia.scss */
  .project-details .overview h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
/* line 341, ../sass/misritalia.scss */
.project-details .overview p {
  font-family: "regular";
}
/* line 344, ../sass/misritalia.scss */
.project-details .overview img {
  width: 100%;
}
/* line 348, ../sass/misritalia.scss */
.project-details h2 {
  font-size: 60px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  /* line 348, ../sass/misritalia.scss */
  .project-details h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
/* line 356, ../sass/misritalia.scss */
.project-details p {
  font-family: "regular";
}
/* line 359, ../sass/misritalia.scss */
.project-details .project-location {
  background-color: #1c296a;
}
/* line 361, ../sass/misritalia.scss */
.project-details .project-location iframe {
  width: 100% !important;
}
@media screen and (min-width: 1200px) {
  /* line 365, ../sass/misritalia.scss */
  .project-details .project-location .loction-info {
    margin-bottom: -60px;
  }
  /* line 368, ../sass/misritalia.scss */
  .project-details .project-location .location-caption,
  .project-details .project-location .location-img {
    transform: translate(0px, -70px);
  }
  /* line 372, ../sass/misritalia.scss */
  .project-details .project-location .location-video {
    padding: 0 10%;
    transform: translate(0px, 70px);
  }
  /* line 376, ../sass/misritalia.scss */
  .project-details .project-location iframe {
    height: 590px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 359, ../sass/misritalia.scss */
  .project-details .project-location {
    padding: 50px 0;
  }
  /* line 382, ../sass/misritalia.scss */
  .project-details .project-location p,
  .project-details .project-location .location-img {
    margin-bottom: 40px;
  }
  /* line 387, ../sass/misritalia.scss */
  .project-details .project-location .location-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 394, ../sass/misritalia.scss */
  .project-details .project-location .location-img img {
    width: 100%;
  }
}
/* line 400, ../sass/misritalia.scss */
.project-details .design {
  padding-top: 150px;
  margin-bottom: 80px;
  background: url("../images/project-details/design-bg.jpg") 100% 0% no-repeat;
  background-size: cover;
}
/* line 405, ../sass/misritalia.scss */
.project-details .design h2,
.project-details .design p {
  color: #1c296a;
}
@media screen and (min-width: 1200px) {
  /* line 410, ../sass/misritalia.scss */
  .project-details .design .design-unite {
    margin-bottom: 80px;
  }
  /* line 413, ../sass/misritalia.scss */
  .project-details .design .unite-caption {
    padding-right: 15%;
  }
  /* line 416, ../sass/misritalia.scss */
  .project-details .design img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 400, ../sass/misritalia.scss */
  .project-details .design {
    padding-top: 100px;
    margin-bottom: 60px;
  }
  /* line 423, ../sass/misritalia.scss */
  .project-details .design .design-unite {
    margin-bottom: 60px;
  }
  /* line 426, ../sass/misritalia.scss */
  .project-details .design img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 432, ../sass/misritalia.scss */
  .project-details .design .design-unite:nth-child(even) {
    direction: rtl;
  }
}
@media screen and (max-width: 768px) {
  /* line 400, ../sass/misritalia.scss */
  .project-details .design {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  /* line 440, ../sass/misritalia.scss */
  .project-details .design .design-unite,
  .project-details .design .unite-caption {
    margin-bottom: 40px;
  }
}
/* line 446, ../sass/misritalia.scss */
.project-details .third-slider {
  margin-bottom: 80px;
}
@media screen and (max-width: 1200px) {
  /* line 446, ../sass/misritalia.scss */
  .project-details .third-slider {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  /* line 446, ../sass/misritalia.scss */
  .project-details .third-slider {
    margin-bottom: 40px;
  }
}
/* line 1, ../sass/partial/_slider-style.scss */
.project-details .first-slider {
  margin-top: 50px;
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 1200px) {
  /* line 1, ../sass/partial/_slider-style.scss */
  .project-details .first-slider {
    margin-bottom: 50px;
  }
}
/* line 15, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item {
  transform: translate(160px, 0px);
  height: 720px;
}
@media screen and (max-width: 1200px) {
  /* line 15, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .item {
    transform: translate(0px, 0px);
    height: 500px;
  }
}
/* line 22, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .img-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
}
/* line 27, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .img-container img {
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .details {
  padding: 0 10%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
@media screen and (max-width: 1200px) {
  /* line 32, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .item .details {
    height: 60%;
  }
}
/* line 41, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .details .more-details {
  height: 100%;
  background-color: #1c296a;
}
@media screen and (max-width: 768px) {
  /* line 41, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .item .details .more-details {
    background-color: #1c296abd;
  }
}
/* line 47, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .details .more-details p {
  font-family: "regular";
  margin-bottom: 30px;
}
/* line 54, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .details .more-details h2 {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .item .details .more-details h2 {
    font-size: 40px;
  }
}
/* line 62, ../sass/partial/_slider-style.scss */
.project-details .first-slider .item .number {
  font-size: 48px;
  bottom: 16%;
  color: #1c296a;
  left: -83px;
}
@media screen and (max-width: 1200px) {
  /* line 62, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .item .number {
    display: none;
  }
}
/* line 72, ../sass/partial/_slider-style.scss */
.project-details .first-slider .owl-stage {
  padding: 0px !important;
}
@media screen and (min-width: 1200px) {
  /* line 75, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .owl-nav {
    position: absolute;
    bottom: 18%;
    left: 10%;
    text-align: center !important;
    margin-top: 10px !important;
  }
}
/* line 83, ../sass/partial/_slider-style.scss */
.project-details .first-slider .owl-nav button {
  color: transparent !important;
  width: 50px !important;
}
@media screen and (min-width: 1200px) {
  /* line 83, ../sass/partial/_slider-style.scss */
  .project-details .first-slider .owl-nav button {
    width: 60px !important;
  }
}
/* line 89, ../sass/partial/_slider-style.scss */
.project-details .first-slider .owl-nav button:focus {
  outline: none;
}
/* line 92, ../sass/partial/_slider-style.scss */
.project-details .first-slider .owl-nav button:first-of-type {
  background: url("../images/home/prev.png") center no-repeat !important;
  background-size: cover;
}
/* line 96, ../sass/partial/_slider-style.scss */
.project-details .first-slider .owl-nav button:last-of-type {
  background: url("../images/home/next.png") center no-repeat !important;
  background-size: cover;
}
/* line 104, ../sass/partial/_slider-style.scss */
.project-details .sec-slider,
.project-details .third-slider {
  position: relative;
}
/* line 107, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .item,
.project-details .third-slider .item {
  margin: 0 20px;
}
/* line 109, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .item img,
.project-details .third-slider .item img {
  width: 100%;
  height: 100%;
}
/* line 115, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .owl-nav button,
.project-details .third-slider .owl-nav button {
  position: absolute;
  top: calc(50% - 45px);
  color: transparent !important;
  width: 90px !important;
  height: 90px !important;
}
@media screen and (max-width: 992px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .project-details .sec-slider .owl-nav button,
  .project-details .third-slider .owl-nav button {
    width: 60px !important;
    height: 60px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 115, ../sass/partial/_slider-style.scss */
  .project-details .sec-slider .owl-nav button,
  .project-details .third-slider .owl-nav button {
    width: 45px !important;
    height: 45px !important;
  }
}
/* line 129, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .owl-nav button:focus,
.project-details .third-slider .owl-nav button:focus {
  outline: none;
}
/* line 132, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .owl-nav button:first-of-type,
.project-details .third-slider .owl-nav button:first-of-type {
  transform: rotate(180deg);
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  left: 10%;
  background-size: cover;
}
/* line 138, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .owl-nav button:last-of-type,
.project-details .third-slider .owl-nav button:last-of-type {
  background: url("../images/home/rt-arrow.png") center no-repeat !important;
  right: 10%;
  background-size: cover;
}
/* line 144, ../sass/partial/_slider-style.scss */
.project-details .sec-slider .owl-nav .disabled,
.project-details .third-slider .owl-nav .disabled {
  opacity: 0 !important;
}
/* line 459, ../sass/misritalia.scss */
.project-details .location {
  height: 600px;
}
@media screen and (max-width: 768px) {
  /* line 459, ../sass/misritalia.scss */
  .project-details .location {
    height: 300px;
  }
}
/* line 464, ../sass/misritalia.scss */
.project-details .location iframe {
  width: 100%;
  height: 100%;
}
/* line 469, ../sass/misritalia.scss */
.project-details .next-project {
  background: url("../images/project-details/next-pro.jpg") center top no-repeat;
  background-size: cover;
  height: 600px;
}
@media screen and (max-width: 992px) {
  /* line 469, ../sass/misritalia.scss */
  .project-details .next-project {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  /* line 469, ../sass/misritalia.scss */
  .project-details .next-project {
    height: 300px;
  }
}
/* line 481, ../sass/misritalia.scss */
.project-details .next-project .next .h1 {
  font-size: 100px;
  margin-bottom: 35px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  /* line 481, ../sass/misritalia.scss */
  .project-details .next-project .next .h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 992px) {
  /* line 481, ../sass/misritalia.scss */
  .project-details .next-project .next .h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  /* line 481, ../sass/misritalia.scss */
  .project-details .next-project .next .h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  /* line 481, ../sass/misritalia.scss */
  .project-details .next-project .next .h1 {
    font-size: 40px;
  }
}

/* line 508, ../sass/misritalia.scss */
.project-inquiry .img-view {
  background: url("../images/inquiry.jpg") 100% 0% no-repeat;
  background-size: cover;
}
/* line 511, ../sass/misritalia.scss */
.project-inquiry .img-view p {
  font-family: "regular";
}
/* line 515, ../sass/misritalia.scss */
.project-inquiry .inquiry-form,
.project-inquiry .img-view {
  height: 750px;
  padding: 0 12%;
}
/* line 520, ../sass/misritalia.scss */
.project-inquiry .inquiry-form {
  background: url("../images/form.jpg") 100% 0% no-repeat;
  background-size: cover;
  color: #1c296a;
}
/* line 524, ../sass/misritalia.scss */
.project-inquiry .inquiry-form .back {
  margin-bottom: 30px;
}
/* line 527, ../sass/misritalia.scss */
.project-inquiry .inquiry-form h1 {
  margin-bottom: 35px;
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  /* line 527, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 527, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form h1 {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
@media screen and (max-width: 992px) {
  /* line 541, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form {
    padding-top: 100px;
    height: auto;
  }
  /* line 544, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form h1 {
    margin-bottom: 25px;
  }
  /* line 548, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form form .form-control {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* line 555, ../sass/misritalia.scss */
  .project-inquiry .inquiry-form {
    padding: 100px 5% 25px;
  }
  /* line 558, ../sass/misritalia.scss */
  .project-inquiry .img-view {
    height: 450px;
    padding: 20px 5%;
  }
}

/* line 567, ../sass/misritalia.scss */
form .form-control {
  margin-bottom: 30px;
}
/* line 570, ../sass/misritalia.scss */
form textarea,
form input,
form select {
  font-family: "regular";
  font-size: 16px;
  color: #1c296a !important;
  border: 1px solid #1c296a !important;
}
/* line 577, ../sass/misritalia.scss */
form textarea:focus,
form input:focus,
form select:focus {
  box-shadow: none !important;
}
/* line 581, ../sass/misritalia.scss */
form textarea {
  height: 100px;
}
/* line 584, ../sass/misritalia.scss */
form .message-contact {
  height: 310px !important;
  resize: none !important;
}
@media screen and (max-width: 992px) {
  /* line 584, ../sass/misritalia.scss */
  form .message-contact {
    height: 200px !important;
    resize: vertical !important;
  }
}
/* line 592, ../sass/misritalia.scss */
form ::placeholder {
  font-family: "regular";
  font-size: 16px;
  color: #1c296a !important;
}
/* line 597, ../sass/misritalia.scss */
form .btn {
  padding-top: 10px !important;
}

/* line 605, ../sass/misritalia.scss */
.about-us .intro {
  background: url("../images/about-us/intro.jpg") center top no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
@media screen and (max-width: 1200px) {
  /* line 605, ../sass/misritalia.scss */
  .about-us .intro {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  /* line 605, ../sass/misritalia.scss */
  .about-us .intro {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 605, ../sass/misritalia.scss */
  .about-us .intro {
    padding-bottom: 40px;
  }
}
/* line 619, ../sass/misritalia.scss */
.about-us .intro .mastering {
  display: none;
}
/* line 623, ../sass/misritalia.scss */
.about-us .about-us-body {
  background: url("../images/about-us/about-us-body.jpg") 100% 0% no-repeat;
  background-size: cover;
  color: #1c296a;
}
/* line 627, ../sass/misritalia.scss */
.about-us .about-us-body h6,
.about-us .about-us-body p {
  font-size: 18px;
  margin-bottom: 35px;
}
/* line 632, ../sass/misritalia.scss */
.about-us .about-us-body p {
  font-family: "regular";
}

/* line 640, ../sass/misritalia.scss */
.contact-us .intro {
  background: url("../images/contact-us/intro.jpg") center top no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
@media screen and (max-width: 1200px) {
  /* line 640, ../sass/misritalia.scss */
  .contact-us .intro {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  /* line 640, ../sass/misritalia.scss */
  .contact-us .intro {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 640, ../sass/misritalia.scss */
  .contact-us .intro {
    padding-bottom: 40px;
  }
}
/* line 654, ../sass/misritalia.scss */
.contact-us .intro .mastering {
  display: none;
}
/* line 658, ../sass/misritalia.scss */
.contact-us .contact-us-body {
  background: url("../images/contact-us/contact-us-body.jpg") 100% 0% no-repeat;
  background-size: cover;
}
/* line 662, ../sass/misritalia.scss */
.contact-us .contact-us-body .get-in-touch {
  color: #1c296a;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  /* line 662, ../sass/misritalia.scss */
  .contact-us .contact-us-body .get-in-touch {
    margin-bottom: 50px;
  }
}
/* line 668, ../sass/misritalia.scss */
.contact-us .contact-us-body .get-in-touch h1 {
  font-size: 80px;
  font-family: "bold";
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  /* line 668, ../sass/misritalia.scss */
  .contact-us .contact-us-body .get-in-touch h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 668, ../sass/misritalia.scss */
  .contact-us .contact-us-body .get-in-touch h1 {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
/* line 682, ../sass/misritalia.scss */
.contact-us .contact-us-body .show-support {
  color: #1c296a;
}
/* line 684, ../sass/misritalia.scss */
.contact-us .contact-us-body .show-support h2 {
  font-size: 60px;
  font-family: "bold";
  margin-bottom: 70px;
}
/* line 689, ../sass/misritalia.scss */
.contact-us .contact-us-body .show-support .support {
  margin-bottom: 70px;
}
/* line 691, ../sass/misritalia.scss */
.contact-us .contact-us-body .show-support .support h3 {
  font-size: 40px;
  font-family: "bold";
  margin-bottom: 50px;
}
/* line 696, ../sass/misritalia.scss */
.contact-us .contact-us-body .show-support .support p,
.contact-us .contact-us-body .show-support .support a {
  font-family: "regular";
}
@media screen and (max-width: 992px) {
  /* line 702, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support h2 {
    font-size: 50px;
    margin-bottom: 60px;
  }
  /* line 706, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support {
    margin-bottom: 60px;
  }
  /* line 708, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support h3 {
    font-size: 35px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 715, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support h2 {
    font-size: 45px;
    margin-bottom: 50px;
  }
  /* line 719, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support {
    margin-bottom: 50px;
  }
  /* line 721, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support h3 {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  /* line 728, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  /* line 732, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support {
    margin-bottom: 40px;
  }
  /* line 734, ../sass/misritalia.scss */
  .contact-us .contact-us-body .show-support .support h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/* line 745, ../sass/misritalia.scss */
.home .intro,
.developments .intro,
.project-details .intro,
.about-us .intro,
.contact-us .intro {
  padding-top: 485px;
  background-size: cover;
  overflow: visible;
  max-height: 835px;
}
@media screen and (max-width: 1200px) {
  /* line 745, ../sass/misritalia.scss */
  .home .intro,
  .developments .intro,
  .project-details .intro,
  .about-us .intro,
  .contact-us .intro {
    padding-top: 200px;
  }
}
/* line 753, ../sass/misritalia.scss */
.home .intro h1,
.developments .intro h1,
.project-details .intro h1,
.about-us .intro h1,
.contact-us .intro h1 {
  font-size: 100px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  /* line 753, ../sass/misritalia.scss */
  .home .intro h1,
  .developments .intro h1,
  .project-details .intro h1,
  .about-us .intro h1,
  .contact-us .intro h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 992px) {
  /* line 753, ../sass/misritalia.scss */
  .home .intro h1,
  .developments .intro h1,
  .project-details .intro h1,
  .about-us .intro h1,
  .contact-us .intro h1 {
    font-size: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  /* line 753, ../sass/misritalia.scss */
  .home .intro h1,
  .developments .intro h1,
  .project-details .intro h1,
  .about-us .intro h1,
  .contact-us .intro h1 {
    font-size: 40px;
  }
}
/* line 767, ../sass/misritalia.scss */
.home .intro .mastering,
.developments .intro .mastering,
.project-details .intro .mastering,
.about-us .intro .mastering,
.contact-us .intro .mastering {
  padding: 80px 50px 60px;
  background-color: #1c296a;
}
@media screen and (max-width: 1200px) {
  /* line 767, ../sass/misritalia.scss */
  .home .intro .mastering,
  .developments .intro .mastering,
  .project-details .intro .mastering,
  .about-us .intro .mastering,
  .contact-us .intro .mastering {
    padding: 30px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 992px) {
  /* line 767, ../sass/misritalia.scss */
  .home .intro .mastering,
  .developments .intro .mastering,
  .project-details .intro .mastering,
  .about-us .intro .mastering,
  .contact-us .intro .mastering {
    margin: 0 70px 100px;
    background-color: #1c296abd;
  }
}
@media screen and (max-width: 768px) {
  /* line 767, ../sass/misritalia.scss */
  .home .intro .mastering,
  .developments .intro .mastering,
  .project-details .intro .mastering,
  .about-us .intro .mastering,
  .contact-us .intro .mastering {
    margin: 0 10px 50px;
  }
}
/* line 781, ../sass/misritalia.scss */
.home .intro .mastering h3,
.developments .intro .mastering h3,
.project-details .intro .mastering h3,
.about-us .intro .mastering h3,
.contact-us .intro .mastering h3 {
  font-size: 24px;
  margin-bottom: 35px;
}
/* line 785, ../sass/misritalia.scss */
.home .intro .mastering p,
.developments .intro .mastering p,
.project-details .intro .mastering p,
.about-us .intro .mastering p,
.contact-us .intro .mastering p {
  font-family: "regular";
  padding-bottom: 60px;
  position: relative;
}
/* line 789, ../sass/misritalia.scss */
.home .intro .mastering p:after,
.developments .intro .mastering p:after,
.project-details .intro .mastering p:after,
.about-us .intro .mastering p:after,
.contact-us .intro .mastering p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  background-color: #fff;
  height: 2px;
}

/* line 802, ../sass/misritalia.scss */
.home .enriching .enriching-title a,
.home .get-in-touch .touch a,
.project-details .intro .mastering a,
form .btn,
.home .develope-slide .first-slider .item .details .more-details a,
.home .social .first-slider .item .details .more-details a,
.project-details .first-slider .item .details .more-details a,
.project-details .next-project .next a,
.button-style,
.sec-button-style {
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 4;
  border-radius: 60px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 802, ../sass/misritalia.scss */
  .home .enriching .enriching-title a,
  .home .get-in-touch .touch a,
  .project-details .intro .mastering a,
  form .btn,
  .home .develope-slide .first-slider .item .details .more-details a,
  .home .social .first-slider .item .details .more-details a,
  .project-details .first-slider .item .details .more-details a,
  .project-details .next-project .next a,
  .button-style,
  .sec-button-style {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  /* line 802, ../sass/misritalia.scss */
  .home .enriching .enriching-title a,
  .home .get-in-touch .touch a,
  .project-details .intro .mastering a,
  form .btn,
  .home .develope-slide .first-slider .item .details .more-details a,
  .home .social .first-slider .item .details .more-details a,
  .project-details .first-slider .item .details .more-details a,
  .project-details .next-project .next a,
  .button-style,
  .sec-button-style {
    width: 125px;
    height: 44px;
    text-align: center;
    padding-top: 12px;
    line-height: 2;
  }
}

/* line 826, ../sass/misritalia.scss */
.home .enriching .enriching-title a,
.home .get-in-touch .touch a,
.project-details .intro .mastering a,
form .btn,
.button-style {
  background-color: #1c296a;
  color: #fff;
}

/* line 831, ../sass/misritalia.scss */
.home .develope-slide .first-slider .item .details .more-details a,
.home .social .first-slider .item .details .more-details a,
.project-details .first-slider .item .details .more-details a,
.project-details .next-project .next a,
.sec-button-style {
  background-color: #fff;
  color: #1c296a;
}
